* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  width: 90vw;
  height: 90vh;
  margin: 5rem auto;
  border: black solid 1px;
}
td {
  width: 5rem;
  height: 5rem;
  border: black 1px solid;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
  background: black;
}
